@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)(implicit viewHelpers: application.helpers.ViewHelpers)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="manifest" href="@routes.Assets.at("manifest/main.json")" />
        @if(viewHelpers.env.mode == play.api.Mode.Prod) {
            @viewHelpers.webpackCssAsset("vendor.css")
        }
        @styles
    </head>
    <body>
        @content
        @viewHelpers.webpackManifest()
        @viewHelpers.webpackRuntime()
        @if(viewHelpers.env.mode == play.api.Mode.Prod) {
            @viewHelpers.webpackJsAsset("vendor.js")
        }
        @viewHelpers.webpackJsAsset("app.js")
        @viewHelpers.workbench()
        @scalajs.html.scripts(
            "client",
            routes.Assets.at(_).toString,
            name => getClass.getResource(s"/public/$name") != null
        )
        @scripts
    </body>
</html>
